.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  background-color: #262a32;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 1px solid black;

  .content {
    background: #262a32;
    border: 1px solid black;
    padding: 40px;
    border-radius: 40px;
    // huge shadow
    box-shadow: 0 0 40px 40px #262a32;
    // box-shadow: 0 0 200px 30px rgba(0, 0, 0, 0.5);

    .App-link {
      color: #61dafb;
    }

    .title {
      font-size: 50px;
      font-weight: bold;
      // font-style: italic;
      margin: 30px;
      padding: 30px;


    }

    .stats {
      display: flex;
      flex-direction: row;
      justify-content: space-around;



      .stat {
        margin: 20px;
        padding: 20px;
        border: 1px solid black;
        border-radius: 10px;
        min-width: 300px;
        min-height: 100px;
        justify-content: space-around;
        background-color: #2a303d;
        box-shadow: 0 0 0px 2px #545963;

        .stat-title {
          font-size: 30px;
          // beautiful font not lobster
          // font-family: 'AmericanTypewriter-Light', cursive;
          font-weight: bold;
          // font-style: italic;
          // margin: 10px;

          padding: 10px;
        }
      }

    }

    .contribution {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .input {
        margin: 20px;
        padding: 20px;
        border: 1px solid black;
        border-radius: 10px;
        min-width: 300px;
        min-height: 100px;
        justify-content: space-around;
        background-color: #2a303d;
        min-height: 100px;
        text-align: center;

        input::placeholder {
          font-size: 30px;
          // beautiful font not lobster
          // font-family: 'AmericanTypewriter-Light', cursive;
          font-weight: bold;
          font-style: italic;
          text-align: center;
          color: #61dafb;
          // margin: 10px;

          padding: 10px;
        }
      }

      .button {
        min-height: 100px;
        border-radius: 13px;
        min-width: 300px;
        margin: 30px;
        font-size: 20px;
        box-shadow: 0 0 20px 2px #545963;
      }
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}